.profile-container{
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}
.profile-container header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-container header span{
  font-size: 20px;
  margin-left: 24px;
}
.meeting{
  margin-top: 40px;
  line-height: 40px;
}
.profile-container ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  list-style: none;
  margin-top: 48px;
}
a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  line-height: 50px;
  margin-bottom: -20px;
  color: #E02041;
  font-size: 18px;
  font-weight: 500;
  transition: opacity 0.2s;
}
a:hover{
  filter: brightness();
}